<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.kloop.rinat.zvonilka">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.PasswordRecoveryRequestedActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.RegistrationSuccessActivity" />
        <activity android:name=".login.RestorePasswordActivity" />
        <activity
            android:name=".MenuSelectActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDataActivity"
            android:label="User Data" />
        <activity
            android:name=".EventActivity"
            android:label="Event" />
        <activity
            android:name=".ToDoActivity"
            android:label="To Do" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".AddUserDataActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".CompanyActivity" />
        <activity android:name=".AppCompanyActivity"></activity>
    </application>

</manifest>